<footer>
  <!-- Liens des images freepik pour les droits d'auteurs !-->
  <a hidden href="http://www.freepik.com">Designed by stories / Freepik</a>
  <a hidden href="http://www.freepik.com">Designed by pch.vector / Freepik</a>
</footer>
  