<!DOCTYPE html>
<html class="h-100 w-100">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title class="white-h1">BddCompare</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    
    <%- include('partials/links') %>


  </head>
  <body class="toggle-sidebar h-100 w-100">
    <!-- Utilisez la balise EJS include pour inclure le layout de l'en-tête -->
    <%- include('partials/header') %>
    <!-- Utilisez la balise EJS include pour inclure le contenu de chaque page -->
    <%- include('partials/main') %>

    <!-- Utilisez la balise EJS include pour inclure le layout du pied de page -->
    <%- include('partials/footer') %>
  </body>
</html>
