/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 15%;
    width: 100%;
    background: #2B8AC8;
    font-size: 1rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}




main{
    background-image: url(../img/illustration-concept-administration/3947703.jpg), url(../img/minus/Poesie.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 30%, 50%;
    background-position: top left, bottom right;
    height: 75%;
    width: 100%;
    font-size: 1rem;
    /* background-color: red; */
}

#databasePoemsV5{
    display: flex;
    flex-direction: column;
}

#databasePoemsV4{
    display: flex;
    flex-direction: column;
}

#containSchemaV5{
    display: flex;
    flex-direction: column;
}

#containSchemaV4{
    display: flex;
    flex-direction: column;
}

#containTableV5{
    display: flex;
    flex-direction: column;
}

#containTableV4{
    display: flex;
    flex-direction: column;
}


#block-bdd{
    display: flex;
    justify-content: space-around;
}


#schema{
    display: flex;
    justify-content: space-around;
}

#table{
    display: flex;
    justify-content: space-around;
}


#donnee{
    display: flex;
    justify-content: space-around;
}

header h1{
    font-size: 2rem;
    
    font-weight: bold;
    /* margin-left: 5%; */
}


main section{
    margin-left: 5%;
}

footer{
    /* border: 10px black; */
    /* border-top: 0.3rem solid black; */
    /* border-radius: 10px black; */
    height: 10%;
    width: 100%;
    background: #233D63;

}

.green{
    color: greenyellow;
}

.red{
    color: red;
}

.orange{
    color: rgb(255, 187, 0);
}

#data-v5{
    width: 700px; /* largeur fixe */
    height: 300px; /* hauteur fixe */
    overflow: auto; /* accepter le débordement avec défilement */
    background-color: aliceblue;
}

#data-v4{
    width: 700px; /* largeur fixe */
    height: 300px; /* hauteur fixe */
    overflow: auto; /* accepter le débordement avec défilement */
    background-color: grey;
}

.greenBG{
    background-color: rgb(0, 255, 17);
}

.redBG{
    background-color: rgb(157, 19, 85);
}

.orangeBG{
    background-color: rgba(214, 130, 33, 0.863);
}

#afficheComparaison{
    display: flex;
    flex-direction: column;
}

#displayComparaison{
    display: flex;
}

#dif-v4{
    width: 700px; /* largeur fixe */
    height: 300px; /* hauteur fixe */
    overflow: auto; /* accepter le débordement avec défilement */
    background-color: rgb(193, 177, 56);
}

#dif-v5{
    width: 700px; /* largeur fixe */
    height: 300px; /* hauteur fixe */
    overflow: auto; /* accepter le débordement avec défilement */
    background-color: rgb(53, 66, 215);
}

#sameData{
    width: 700px; /* largeur fixe */
    height: 300px; /* hauteur fixe */
    overflow: auto; /* accepter le débordement avec défilement */
    background-color: rgb(53, 215, 64);
}